/experiments/*
/images/*
/ori_images/*
/images_female/*
/wechatAvatars/*
/avatars64x64/*
*.zip

/images_less/*
/__pycache__/*
/cf_experiment_results/*
/cf_experiment_results_ddpm/*
/counterfactual_results/*